<div class="card">
  <div class="card-header">Dashboard</div>
  <div class="card-body">
    <h5 class="card-title">Login Information</h5>
    <p class="card-text"></p>
    <div class="row">
      <label class="col-sm-2" for="email">Email: </label>
      <p class="col-sm-2">{{ username }}</p>
    </div>
    <div class="row">
      <label class="col-sm-2" for="email">Created At: </label>
      <p class="col-sm-2">{{ password }}</p>
    </div>
    <button class="btn btn-primary" (click)="goToCrud()">Go To CRUD</button>
  </div>
</div>
